
h1 {
    font-family: 'univers_55regular';
    src: url('univers_55-webfont.woff2') format('woff2'),
         url('univers_55-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


.flex {
  display: flex;
  align-items: center;
}

.prose {
    font-family: 'univers_55regular';
    color: black(0, 0, 0);
    src: url('univers_55-webfont.woff2') format('woff2'),
         url('univers_55-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    /* margin-left: auto; */
    /* margin-right: auto; */
    /* margin: 0; */
    margin: 0 auto;
    /* position: absolute;                */
    /* top: 50%;                         */
    /* transform: translate(0, -50%); */
    padding: 10%;
    padding-top: 15%;
    font-size: 24px;}

    .prose2 {
      font-family: 'univers_55regular';
      color: black(0, 0, 0);
      src: url('univers_55-webfont.woff2') format('woff2'),
           url('univers_55-webfont.woff') format('woff');
      font-weight: normal;
      font-style: normal;
      /* margin-left: auto; */
      /* margin-right: auto; */
      /* margin: 0; */
      margin: 0 auto;
      /* position: absolute;                */
      /* top: 50%;                         */
      /* transform: translate(0, -50%); */
      padding: 10%;
      padding-top: 8%;
      font-size: 24px;}

.hidden {
      font-family: 'univers_55regular';
      color: black;
      src: url('univers_55-webfont.woff2') format('woff2'),
           url('univers_55-webfont.woff') format('woff');
      font-weight: normal;
      font-style: normal;
      /* margin-left: auto; */
      /* margin-right: auto; */
      /* margin: 0; */
      margin: 0 auto;
      /* position: absolute;                */
      /* top: 50%;                         */
      /* transform: translate(0, -50%); */
      font-size: 30px;
      text-align: center;
    }

    .hidden2 {
      font-family: 'univers_55regular';
      color: black;
      src: url('univers_55-webfont.woff2') format('woff2'),
           url('univers_55-webfont.woff') format('woff');
      font-weight: normal;
      font-style: normal;
      /* margin-left: auto; */
      /* margin-right: auto; */
      /* margin: 0; */
      margin: 0 auto;
      /* position: absolute;                */
      /* top: 50%;                         */
      /* transform: translate(0, -50%); */
      font-size: 30px;
      text-align: center;
    }
      
.caption {
        font-family: 'univers_55regular';
        color: black;
        src: url('univers_55-webfont.woff2') format('woff2'),
             url('univers_55-webfont.woff') format('woff');
        text-align: center;
        font-weight: normal;
        font-style: normal;
        font-size: 22px;
            }

            .caption2 {
              font-family: 'univers_55regular';
              color: black;
              src: url('univers_55-webfont.woff2') format('woff2'),
                   url('univers_55-webfont.woff') format('woff');
              text-align: center;
              font-weight: normal;
              font-style: normal;
              font-size: 30px;
                  }

  a.even:link {
    color: black;
    text-decoration: none;
  }
  a:visited {
    color: black;
    text-decoration: none;
  }
  a.even:hover {
    color: #BC0202;
    text-decoration: none;
  }  
   a:active {
    color: black;
    text-decoration: none;
  }
a.secret:active{
  color: black;
  text-decoration: none;

}
a.secret:visited{
  color: black;
  text-decoration: none;

}
  a.secret:link {
    color: black;
    text-decoration: none;
  }

  a.secret:hover {
    color: white;
    text-decoration: none;
  }

a:link {
    color: black;
    text-decoration: none;
  }
  a:visited {
    color: black;
    text-decoration: none;
  }
  a:hover {
    color: white;
    text-decoration: none;
  }
  a:active {
    color: black;
    text-decoration: none;
  }

  #work-image{
    left: 0px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#work-image2{
  left: 0px;
  right: 0px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}


#work-image3{
  left: 0px;
  right: 0px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

#work-image a img{
    width: 100%;
    height: 100%;
    left: 0px;
    right: 0px;
    margin-bottom: 3%;
    margin-top: 2%;
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
#work-image2 a img{
  width: 100%;
  height: 100%;
  left: 0px;
  right: 0px;
  margin-bottom: 3%;
  margin-top: 3%;
  display: block;
margin-left: auto;
margin-right: auto;
width: 100%;
padding-top: 0%;
}

#work-image3 a img{
  width: 100%;
  height: 100%;
  left: 0px;
  right: 0px;
  margin-bottom: 3%;
  margin-top: 3%;
  display: block;
margin-left: auto;
margin-right: auto;
width: 100%;
padding-top: 10%;
}



  hr.style-one {
    border: 10px;
    height: 10px;
    position: fixed;
  }

  body {
    background-color: white;
  }

.caption-page {
    background-color: white;
  }


  @media screen and (orientation: portrait) {
    
    .prose {
      font-size: 22px;
    }

    .caption {
      font-size: 22px;
    }

    .caption2 {
      font-size: 32px;
    }

    .hidden {
      font-size: 32px;
    }
    
    #work-image{
      left: 0px;
      right: 0px;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
  }
  
  #work-image2{
    left: 0px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  
  
  #work-image3{
    left: 0px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  
  #work-image a img{
      width: 100%;
      left: 0px;
      right: 0px;
      margin-bottom: 3%;
      margin-top: 3%;
      display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  
  #work-image2 a img{
    width: 100%;
    left: 0px;
    right: 0px;
    margin-bottom: 3%;
    margin-top: 3%;
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  }
  
  #work-image3 a img{
    width: 100%;
    left: 0px;
    right: 0px;
    margin-bottom: 3%;
    margin-top: 3%;
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  }
}


.thumb{
  position: fixed;
  top: 55%;
  left: 30%;
  width: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  z-index: -1;
  opacity: 50%;
}

.thumb2{
  position: fixed;
  top: 30%;
  left: 55%;
  width: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  z-index: -1;
  opacity: 50%;
}

.thumb3{
  position: fixed;
  top: 55%;
  left: 40%;
  width: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  z-index: -1;
  opacity: 50%;
}

.thumb4{
  position: fixed;
  top: 40%;
  left: 40%;
  width: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  z-index: -1;
  opacity: 50%;
}

.thumb5{
  position: fixed;
  top: 60%;
  left: 60%;
  width: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  z-index: -1;
  opacity: 50%;
}

.thumb6{
  position: fixed;
  top: 35%;
  left: 60%;
  width: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  z-index: -1;
  opacity: 50%;
}

.thumb7{
  position: fixed;
  top: 55%;
  left: 50%;
  width: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  z-index: -1;
  opacity: 50%;
}

.thumb8{
  position: fixed;
  top: 35%;
  left: 30%;
  width: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  z-index: -1;
  opacity: 50%;
}

.thumbchart{
  position: fixed;
  top: 35%;
  left: 30%;
  width: 65%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  z-index: -1;
  opacity: 50%;
}

.thumbplan{
  position: fixed;
  top: 50%;
  left: 50%;
  width: 90%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  z-index: -1;
  opacity: 50%;
}


@media screen and (orientation: landscape) {

  
  #work-image{
    left: 0px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
    max-height: 80%;
}

#work-image2{
  left: 0px;
  right: 0px;
  margin-left: auto;
  margin-right: auto;
  max-height: 80%;
}


#work-image3{
  left: 0px;
  right: 0px;
  margin-left: auto;
  margin-right: auto;
  max-height: 80%;
}

#work-image a img{
    max-height: 80%;
    left: 0px;
    right: 0px;
    margin-bottom: 3%;
    margin-top: 3%;
    display: block;
  margin-left: auto;
  margin-right: auto;
}

#work-image2 a img{
  height: 80%;
  left: 0px;
  right: 0px;
  margin-bottom: 3%;
  margin-top: 3%;
  display: block;
margin-left: auto;
margin-right: auto;
}

#work-image3 a img{
  height: 80%;
  left: 0px;
  right: 0px;
  margin-bottom: 3%;
  margin-top: 3%;
  display: block;
margin-left: auto;
margin-right: auto;
}
}

@font-face {
    font-family: 'univers_55bold';
    src: url('univers_55_bold-webfont.woff2') format('woff2'),
         url('univers_55_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'univers_55italic';
    src: url('univers_55_italic-webfont.woff2') format('woff2'),
         url('univers_55_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'univers_55italic';
    src: url('univers_55_italic-webfont.woff2') format('woff2'),
         url('univers_55_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'univers_55italic';
    src: url('univers_55_italic-webfont.woff2') format('woff2'),
         url('univers_55_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'univers_55italic';
    src: url('univers_55_italic-webfont.woff2') format('woff2'),
         url('univers_55_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'univers_55regular';
    src: url('univers_55-webfont.woff2') format('woff2'),
         url('univers_55-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'univers_55regular';
    src: url('univers_55-webfont.woff2') format('woff2'),
         url('univers_55-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'univers_55regular';
    src: url('univers_55-webfont.woff2') format('woff2'),
         url('univers_55-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'univers_55regular';
    src: url('univers_55-webfont.woff2') format('woff2'),
         url('univers_55-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'univers_55regular';
    src: url('univers_55-webfont.woff2') format('woff2'),
         url('univers_55-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}